@import url(/color-picker.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  /* --darker-color: #222831;
  --dark-color: #393e46;
  --main-color: #00adb5;
  --secondry-color: #00fff5;
*/

  /* --darker-color: #1b0044;
  --dark-color: #5727a3;
  --main-color: #9153f4;
  --secondry-color: #d6c5f0; */

  /* --darker-color: #3a1078;
  --dark-color: #4e31aa;
  --main-color: #2f58cd;
  --secondry-color: #3795bd; */

  --darker-color: #001f3f;
  --dark-color: #083358;
  --main-color: #0d63a5;
  --secondry-color: #ffd717;
}
* {
  box-sizing: border-box;
}

body {
  background: url(/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  /* background-color: var(--dark-color); */
  font-family: Roboto;
}
/* btns */
.btns {
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px 5px var(--dark-color);
  backdrop-filter: blur(5px);
  /* background-color: var(--dark-color); */
  border-radius: 20px;
}

.toggle-container {
  align-items: center;
  display: flex;
  margin: 10px 0;
  width: 200px;
}

.toggle {
  visibility: hidden;
}

.label {
  background-color: var(--main-color);
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  margin: 0 15px 0;
  position: relative;
  width: 80px;
}

.toggle:checked + label {
  background-color: var(--secondry-color);
}

.ball {
  align-items: center;
  animation: slideOff 0.3s linear forwards;
  background-color: #fff;
  border-radius: 50%;
  height: 34px;
  justify-content: center;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 34px;
}

.toggle:checked + label .ball {
  animation: slideOn 0.3s linear forwards;
}

.btn-text {
  color: var(--secondry-color);
  text-shadow: 0px 0px 10px var(--darker-color);
}

@keyframes slideOn {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(40px) scale(1);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(40px) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
/* end of btns */

/* Tables */
.color-table {
  backdrop-filter: blur(5px);
  position: relative;
  box-shadow: inset 0 0 10px 5px var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  /* background-color: var(--dark-color); */
  border-radius: 20px;
}
.text-color {
  display: block;
  text-align: center;
  padding: 25px;
  color: var(--secondry-color);
}
.pickr {
  padding-bottom: 50px;
}

/* *******************************Volume ***************************/
